<ng-template #divLoading>
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <mat-spinner></mat-spinner>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>

<div *ngIf="restaurante; else divLoading" class="grid p-2">
    <mat-card class="col-12 sm:col-6">
        <mat-card-header>
            <mat-card-title>{{restaurante.Nombre}}</mat-card-title>
            <mat-card-subtitle>{{restaurante.Direccion}}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="restaurante | imagen" [alt]="restaurante.Nombre" mat-card-image>
    </mat-card>
    <mat-card class="col-12 sm:col-6">
        <mat-card-header>
            <mat-card-title>Información</mat-card-title>
            <mat-card-subtitle>{{restaurante.Nombre}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>{{restaurante.Descripcion}}</mat-list-item>
                <mat-list-item>{{restaurante.Telefono}}</mat-list-item>
                <mat-list-item>{{restaurante.Direccion}}</mat-list-item>
                <mat-list-item>{{restaurante.Email}}</mat-list-item>
                <mat-list-item>{{restaurante.WEB}}</mat-list-item>
                <mat-list-item>{{restaurante.Capacidad}}</mat-list-item>
                <mat-list-item>{{restaurante.Lat}}</mat-list-item>
                <mat-list-item>{{restaurante.Lon}}</mat-list-item>
                <mat-list-item>{{restaurante.Url}}</mat-list-item>
            </mat-list>
            <button mat-button color="warn" (click)="regresar()">
                Regresar
            </button>
        </mat-card-content>
    </mat-card>
</div>